<html>
	<body>
			<form name="login" method="post" action="login.jsp" align="center">
				<div class="username">
					<p style="color: sienna; margin-top:250px">
					username:<input type="text" name="username"> 
					</p>
				</div>
				<div class="password">
					<p>
					password:<input type="password" name="password"> 
					</p>
				</div>
				<div>
					<p>
					<input type="submit" value="登录" style="background:#888;border:1px solid;border-color:#999 #777 #777 #999;">
					</p>
				</div>
			</form>
	</body>
</html>
