{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<div class="page-control span10" data-role="page-control">
    <span class="menu-pyll"></span>
    <div class="menu-pull-bar">Page 1</div>
    <ul style="display: block; overflow: visible;">

        <li class="active">
        <a href="#page1">
            <i class="icon-equalizer"></i>
            rss read
        </a>
        </li>

        <li class>
        <a href="#page2">program</a>
        </li>

        <li class>
        <a href="#page3">algoritm</a>
        </li>

        <li class>
        <a href="#page4">article</a>
        </li>

        <li class="place-right">
        <a href="#pagez">
            <i class="icon-cog nrm"></i>
        </a>
        </li>

    </ul>

    <div class="frames">
        <div class="frame active" id="page1">
            <h2>rss read</h2>
            <p>
            this is page 1
            </p>
        </div>

        <div class="frame" id="page2">
            <h2>program</h2>
            <p>
            this is page2
            </p>
        </div>

        <div class="frame" id="page3">
            <h2>algorithm</h2>
            <p>
            this is page 3
            </p>
        </div>

        <div class="frame" id="page4">
            <h2>article</h2>
            <p>
            this is page 4
            </p>
        </div>

        <div class="frame" id="pagez">
            <h2>Page4</h2>
            <p>
            this is page z
            </p>
        </div>

    </div>

</div>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='Metro-UI-CSS/javascript/pagecontrol.js') }}"></script>
{% endblock %}
