{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block head %}
{{ super() }}
{#见下一个注释
<link rel="stylesheet" href="{{ url_for('static', filename='css/gh-fork-ribbon.css') }}">
#}
{% endblock %}

{% block style %}
{{ super() }}
        //.metrouicss .page-region-content * {
        //    width: auto; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;
        //}

        .metrouicss #page1 a{
            width: auto; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;
            clear: both; /* 清除左右浮动 */
            width: 100px; /* 必须定义宽度 */
            word-break: break-word; /* 文本行的任意字内断开 */
            word-wrap: break-word; /* IE */
            white-space: -moz-pre-wrap; /* Mozilla */
            white-space: -hp-pre-wrap; /* HP printers */
            white-space: -o-pre-wrap; /* Opera 7 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: pre; /* CSS2 */
            white-space: pre-wrap; /* CSS 2.1 */
            white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
        }

        .metrouicss #editor {
            position: absolute;
            //top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 500px;
        }

        .metrouicss #editor *{
            font-family: Monospace
        }

        .metrouicss #page2 {
            height: 500px;
            text-overflow: 0;
        }
{% endblock %}

{% block header %}
{#放在这不美观，移到右上角了
   <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/atupal/atupal.org-mysite">Fork me on GitHub</a>
        </div>
    </div>
#}
{% endblock %}

{% block sidebar %}
<ul id="page1_left_bar" class="left_bar rss_read">
    <li>
    <a href="#">rss list</a>
    {#getrsslist from remote mySql Database#}
    <ul class="sub-menu">
    {% for rss in rsslist %}
    <li><a id={{rss[1]}} onclick="parserss(this.innerHTML, this.id)">{{ rss[0] }}</a></li>
    {% endfor %}
    {#
        <li><a id="https://news.ycombinator.com/rss"  onclick="parserss(this.innerHTML, this.id)">hacker news</a></li>
        <li><a id="http://feed.feedsky.com/heikezhi"  onclick="parserss(this.innerHTML, this.id)">黑客志</a></li>
        <li><a id="http://feeds.feedburner.com/nvie"  onclick="parserss(this.innerHTML, this.id)">nvie.com</a></li>
        <li><a id="http://feeds.feedburner.com/linuxtoy"  onclick="parserss(this.innerHTML, this.id)">linuxtoy</a></li>
        <li><a id="http://feedproxy.google.com/linuxtoday/linux"  onclick="parserss(this.innerHTML, this.id)">linuxtoday</a></li>
        <li><a id="http://feed.feedsky.com/vimer"  onclick="parserss(this.innerHTML, this.id)">Vimer</a></li>
        <li><a id="http://www.truevue.org/rss.xml"  onclick="parserss(this.innerHTML, this.id)">东华博客</a></li>
        <li><a id="http://www.amazon.cn/gp/rss/bestsellers/books/658414051/ref=zg_bs_658414051_rsslink"  onclick="parserss(this.innerHTML, this.id)">亚马逊</a></li>
        <li><a id="http://www.yulefox.com/?feed=rss2"  onclick="parserss(this.innerHTML, this.id)">游戏人生</a></li>
        <li><a id="http://bgr.com/feed/"  onclick="parserss(this.innerHTML, this.id)">BGR</a></li>
        <li><a id="http://mindhacks.cn/feed/"  onclick="parserss(this.innerHTML, this.id)">刘未鹏 | Mind Hacks</a></li>
        <li><a id="http://feed.feedsky.com/clzzxf"  onclick="parserss(this.innerHTML, this.id)">左岸读书_blog</a></li>
        <li><a id="http://easwy.com/blog/feed/"  onclick="parserss(this.innerHTML, this.id)">易水博客</a></li>
        <li><a id="http://feed.williamlong.info/"  onclick="parserss(this.innerHTML, this.id)">月光博客</a></li>
        <li><a id="http://blog.douban.com/feed/"  onclick="parserss(this.innerHTML, this.id)">豆瓣blog</a></li>
        <li><a id="http://www.matrix67.com/blog/feed.asp"  onclick="parserss(this.innerHTML, this.id)">Matrix67</a></li>
        <li><a id="http://coolshell.cn/feed"  onclick="parserss(this.innerHTML, this.id)">酷壳 - CoolShell.cn</a></li>
        <li><a id="http://feeds.feedburner.com/ruanyifeng"  onclick="parserss(this.innerHTML, this.id)">阮一峰的网络日志</a></li>
        <li><a id="http://feeds.wisegeek.com/learn-something-new-every-day-rss"  onclick="parserss(this.innerHTML, this.id)">What is a Hacker?</a></li>
        <li><a id="http://feeds.wired.com/wired/index"  onclick="parserss(this.innerHTML, this.id)">Wired</a></li>
        <li><a id="http://www.36kr.com/feed"  onclick="parserss(this.innerHTML, this.id)">36氪</a></li>
        <li><a id="http://www.engadget.com/rss.xml"  onclick="parserss(this.innerHTML, this.id)">Engadget</a></li>
        <li><a id="http://cn.engadget.com/rss.xml"  onclick="parserss(this.innerHTML, this.id)">Engadget 中国版</a></li>
        <li><a id="http://www.google.com.hk/ggblog/googlechinablog/feeds/posts/default"  onclick="parserss(this.innerHTML, this.id)">Google 黑板报</a></li>
        <li><a id="http://feeds.feedburner.com/solidot"  onclick="parserss(this.innerHTML, this.id)">Solidot</a></li>
        <li><a id="http://www.technologyreview.com/web/rss/"  onclick="parserss(this.innerHTML, this.id)">MIT Technology Review</a></li>
        <li><a id="http://www.alibuybuy.com/feed"  onclick="parserss(this.innerHTML, this.id)">互联网的那点事</a></li>
        <li><a id="http://feed.web20share.com/"  onclick="parserss(this.innerHTML, this.id)">天涯海阁-Web2.0Share</a></li>
        <li><a id="http://rss.donews.com/channel/e696b0e997bb/e4ba92e88194e7bd91e696b0e997bb.xml"  onclick="parserss(this.innerHTML, this.id)">所有来源 tag: 互联网新闻</a></li>
        <li><a id="http://www.guokr.com/rss/"  onclick="parserss(this.innerHTML, this.id)">果壳网 guokr.com - 果壳网</a></li>
        <li><a id="http://www.ifanr.com/feed"  onclick="parserss(this.innerHTML, this.id)">爱范儿 · Beats of Bits</a></li>
        <li><a id="http://feed.feedsky.com/xianguoblog"  onclick="parserss(this.innerHTML, this.id)">鲜果日志</a></li>
    #}
    </ul>
    </li>
    <li><a onclick="addrss()">add rss</a></li>
</ul>

<ul id="page2_left_bar" style="display: none;" class="left_bar program">
    <li>
        <ul class="accordion dark" data-role="accordion">
            <li>
                <a onclick="clip()">online clip</a>
                <div>
                    <ul class="sub-menu">
                        <li><a>ts</a></li>
                        <li><a>ts</a></li>
                        <li><a>ts</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>

    <li>
        <a>tools</a>
        <ul class="sub-menu">
            <li><a href="https://gist.github.com/atupal">code snippet</a></li>
        </ul>
    </li>
</ul>

<ul id="page3_left_bar" style="display: none;" class="left_bar">
    <li>
    <a>page3</a>
    <ul class="sub-menu">
        <li><a>item1</a></li>
        <li><a>item2</a></li>
        <li><a>item3</a></li>
    </ul>
    </li>
</ul>


<ul id="page4_left_bar" style="display: none;" class="left_bar">
    <li>
    <a>page4</a>
    <ul class="sub-menu">
        <li><a>item1</a></li>
        <li><a>item2</a></li>
        <li><a>item3</a></li>
    </ul>
    </li>
</ul>


<ul id="page5_left_bar" style="display: none;" class="left_bar">
    <li>
    <a>page5</a>
    <ul class="sub-menu">
        <li><a>item1</a></li>
        <li><a>item2</a></li>
        <li><a>item3</a></li>
    </ul>
    </li>
</ul>

<ul id="pagez_left_bar" style="display: none;" class="left_bar">
    <li>
    <a>pagez</a>
    <ul class="sub-menu">
        <li><a>item1</a></li>
        <li><a>item2</a></li>
        <li><a>item3</a></li>
    </ul>
    </li>
</ul>

{% endblock %}

{% block body %}
<div class="page-control span10" data-role="page-control">
    <span class="menu-pyll"></span>
    <div class="menu-pull-bar">Page 1</div>
    <ul style="display: block; overflow: visible;">

        <li class="active">
        <a href="#page1">
            <i class="icon-book"></i>
            rss read
        </a>
        </li>

        <li class>
        <a href="#page2">
            <i class="icon-monitor"></i>
            program
        </a>
        </li>

        <li class>
        <a href="#page3">
            <i class="icon-font"></i>
            algoritm
        </a>
        </li>

        <li class>
        <a href="#page4">
            <i class="icon-file"></i>
            article
        </a>
        </li>

        <li class>
        <a href="#page5">
            <i class="icon-eye"></i>
            others
        </a>
        </li>

        <li class="place-right">
        <a href="#pagez">
            <i class="icon-cog nrm"></i>
        </a>
        </li>

    </ul>

    <div class="frames">
        <div class="frame active" id="page1">
            <h2 id="rssname">rss read</h2>
            <div id="rss">
                <div id="rss_container">
                    <p>
                    this is page 1
                    </p>
                </div>
            </div>
        </div>

        <div class="frame" id="page2">
            {#
            <h2>program</h2>
            #}
            <div id="online_clip">
                <div id="editor">//cpp</div>
            </div>
        </div>

        <div class="frame" id="page3">
            <h2>algorithm</h2>
            <p>
            this is page 3
            </p>
        </div>

        <div class="frame" id="page4">
            <h2>article</h2>
            <p>
            this is page 4
            </p>
        </div>

        <div class="frame" id="page5">
            <h2>others</h2>
            <p>
            this is page 5
            </p>
        </div>

        <div class="frame" id="pagez">
            <h2>manage site</h2>
            <a href="/applogs">
                <i class=icon-newspaper></i>
                applogs
            </a>
        </div>

    </div>

</div>

{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/views/loading.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='Metro-UI-CSS/javascript/pagecontrol.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/project/rssRead.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/tog_left_bar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/clip.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='Metro-UI-CSS/javascript/accordion.js') }}"></script>
{% endblock %}
