<html>
    <head>
        <style>
            img {
                border:1px dashed #000;
                height:240px;
            }
        </style>
    </head>
    <body onload="display()">
        <script type="text/javascript">
            window.onload=display;
var col = 0;
var row = 0;

for (var i = 0; i < 34; ++ i) {
    var div = document.createElement('div');
    div.setAttribute("id", "div_" + i.toString());
    div.setAttribute("style", "position:absolute");
    document.body.appendChild(div);
}

for (var i = 0; i < 34; ++ i) {
    var img = document.createElement('img');
    img.setAttribute('src', '/images/' + 'psb_' + (i + 1).toString() + '.jpg');
    document.getElementById("div_" + i.toString()).appendChild(img);
}

function display() {
    var imgs = document.getElementsByTagName("img");
    for (var i = 0; i < imgs.length; ++ i) {
            if (row + imgs[i].width > document.body.clientWidth + 100) {
                ++ col;
                row = 0;
            }
        imgs[i].parentNode.style.top = (col * 250).toString() + "px";
        imgs[i].parentNode.style.left = row.toString() + "px";
        row += imgs[i].width + 10;
    }
}

</script>
    </body>
</html>
