<html>
    <body>
        <div>
            <table>
                <tr>
                    <td>
                        <a href='applogs'>applogs</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href='user'>user</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href='mongodb'>mongodb</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
