<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %} - My Webpage</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="atupal's personal site">
            <meta name="author" content="atupal">
            <link href="static/Metro-UI-CSS/css/modern.css" rel="stylesheet">
            {% endblock %}
        </head>

        {% block style %}
        <style>
            body {
                padding-bottom: 40px;
                color: #5a5a5a;
            }
        </style>
        {% endblock %}

        <body class="metrouicss">
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer">
                {% block footer %}
                &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
                {% endblock %}
            </div>
            <script src="static/js/jquery.min.js"></script>
            <script src="static/Metro-UI-CSS/javascript/dropdown.js"></script>
        </body>
