
{% extends "project/oneday.html" %}
{% block style %}
{{ super() }}

            #result{
                position: absolute;
                top:24px;
                left: 30%;
                z-index: 10;
                height: 600px;
                border-top-style:inherit;
                border-right-style:inherit ;
                border-bottom-style:inherit ;
                border-left-style:inherit ;
                }
                label {
                color: #fafafa;
                }

{% endblock %}

{% block body %}
{{ super() }}
        <div class="input-control text span2">
            <label>line</label><input type="text" class="with-helper" value="武汉国际广场购物中心-光谷美食-华科百景园"  id="line"/>
            <label> lat</label><input type="text" class="with-helper" value="30.599133" id="lat"/>
            <label> lng</label><input type="text" class="with-helper" value="114.290742" id="lng"/>
        </div>
        <input type="submit" value="getLine" action="sdf" onclick="getLine()"/>
        <div class="metrouicss" id="result">
            <label>result:</label>
            <textarea style="width:500px; height:350px" id="result_json"></textarea>
            <hr/>
        </div>

{% endblock %}

{% block js %}
{{ super() }}
    <script type="text/javascript">
        function getLine() {
            req = new XMLHttpRequest();
            req.open("POST", "../getLine", false);
            req.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            //prama = "lat=0&lng=0&begin=0&end=1";
            prama = "lat=" + document.getElementById("lat").value 
            prama += "&lng="+ document.getElementById("lng").value;
            prama += "&line=" + document.getElementById("line").value;
            req.send(prama);
            document.getElementById("result_json").innerHTML = JSON.stringify(JSON.parse(req.responseText));
        }
    </script>
{% endblock %}

